$height: 150px;
$header: 1400px;
$width: 30px;
$hight: 15px;
@mixin box($color, $bg){
    color: $color;
    background-color: $bg;
    
&:hover{
    color: $bg;
    background-color: $color;
    }
    
}
body{
margin: 0px;
padding: 0px;
}
.container{
    height: 100px;
    width: 100px;
    background-color: black;
     position: relative;
}

.cont{
      margin: 0px;
     height: $height;
    width: 100%;
    background-color: black;
     display: flex;
    align-items: center;
    justify-content: center;
   
     
   
    &-rekt, &-rekt1{
        width: $hight;
        height: $width;
        background-color:red;
      
        position: absolute;
    animation: rekt-anim 2s infinite ease-in-out;
    } 
  &-rekt1{
    animation-delay: -1s;
}
    
}
.header{
    margin: 0px;
     height: $height;
    width: 100%;
background-color: black;
 
    display: flex;
    align-items: center;
    justify-content: center;
&-box{
    width: $width;
    height: $width;
     @include box(red, yellow);
  animation: box-anim 2s infinite ease-in-out;
}
}

@keyframes rekt-anim{
    0%{left: 0px ;top: 0px;
        transform:perspective(120px) rotateX(0deg) rotateY(0deg)   
        
    }
    25%{left: 50px ;top: 0px;
        transform:perspective(120px) rotateX(90deg) rotateY(0deg)
    }
    50%{left: 50px ;top: 50px;
        transform:perspective(120px) rotateX(-90deg) rotateY(45deg)
        
    }
    75%{left: 0px ;top: 50px;
         transform:perspective(120px) rotateX(45deg) rotateY(90deg)
    }
    100%{left: 0px ;top: 0px;
        transform:perspective(120px) rotateX(45deg) rotateY(45deg)        
        
    }
}
@keyframes box-anim{
    0%{
      transform:perspective(120px) rotateX(0deg) rotateY(0deg);
         
    }
    25%{ transform:perspective(120px) rotateX(90deg) rotateY(0deg)
       
}
    50%{transform:perspective(120px) rotateX(180deg) rotateY(0deg)
        
        
    }
    75%{transform:perspective(120px) rotateX(0deg) rotateY(90deg)
        
        
    }
    100%{transform:perspective(120px) rotateX(0deg) rotateY(180deg)
        
    }
}











